<link href="/css/pgdeal.css" rel="stylesheet">
<div class="pgdeal">
    <div class="pgdeal-hands">
        <% deal.hands().forEach(function(hand) { %>
            <% include pghand %>
        <% }) %>
    </div>
</div>
