<link rel="stylesheet" href="css/pgsignin.css">
<div style="min-height:10px;min-width:1px;"></div>
<div class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#login" data-toggle="tab">Log in</a></li>
            <li><a href="#register" data-toggle="tab">Register</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="login">
                <input type="text" class="input-block-level" placeholder="Email address">
                <input type="password" class="input-block-level" placeholder="Password">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                <button class="btn btn-large btn-primary" type="submit">Sign in</button>
            </div>
            <div class="tab-pane" id="register">
                <input type="text" class="input-block-level" placeholder="Email address">
                <input type="password" class="input-block-level" placeholder="Password">
                <input type="password" class="input-block-level" placeholder="Retype Password">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                <button class="btn btn-large btn-primary" type="submit">Register</button>
            </div>
        </div>
    </div>
</div>
