.pgdeal {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    background-color: LimeGreen;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
}

.pg-deal-hands {
    position: relative;
}

.pg-deal-buttons {
    height: 30px;
}

.pg-deal-buttons button {
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 10px;
}

.pg-deal-buttons .pg-deal-preview-hands { float: left; }
.pg-deal-buttons .pg-deal-tiles-are-set { float: right; }
.pg-hidden-hand .pg-deal-buttons {
    visibility: hidden;
}

.pgswitchhands-btn {
    position: absolute;
    margin-left: -20px;
    left: 50%;
    margin-top: -10px;
    font-size: 50px;
    cursor: pointer;
}
.pgswitchhands-0-btn { top: 198px; }
.pgswitchhands-1-btn { top: 382px; }

.pg-handpoints {
    position: absolute;
    display: inline-block;
    font-size: 24px;
    font-weight: 100;
    margin-left: -6px;
    pointer-events: none;
    color: gray;
    left: 50%;
}
.pg-handpoints-3 { top:  61px; }
.pg-handpoints-2 { top: 244px; }
.pg-handpoints-1 { top: 426px; }

.pg-hidden-hand .pg-handpoints, .pg-hidden-hand .pgswitchhands-btn {
    display: none;
}

.pg-no-manipulate .pg-tile-manipulate-control {
    visibility: hidden;
}