.pground {
    padding-top: 10px;
    padding-bottom: 23px;
    background-color: LightGray;
    border-radius: 5px;
    text-align: center;
    display: block;
}

.pgscore {
    font-size: 21px;
    margin-bottom: 3px;
    font-weight: 200;
}