.pghand {
    display: block;
    margin-bottom: 20px;
    padding: 10px 10px 3px 10px;
    text-align: center;
}

.pghand .pghand-tiles {
    display: inline-block;
    width: auto;
}

.pghand .pghand-name {
    font-family: Helvetica,Arial;
}

.pghand .pgtile-spacer {
    display: inline-block;
    width: 20px;
    height: 1px;
}