.pgtile {
    height: 125px;
    width: 50px;
    background-size: 600%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: black;
    position: relative;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

.red {
    background: Firebrick;
}

.white {
    background: White;
}

.pgdot {
    width: 16px;
    height: 16px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    display: none;
}

.pg-hidden-hand .pgdot {
    display: none;
}

/* ----------- TEEN ----------- */

.pgtile-teen .pgdot-1,
.pgtile-teen .pgdot-4,
.pgtile-teen .pgdot-9,
.pgtile-teen .pgdot-12,
.pgtile-teen .pgdot-17,
.pgtile-teen .pgdot-20
{
    background: White;
    display: block;
}
.pgtile-teen .pgdot-3,
.pgtile-teen .pgdot-6,
.pgtile-teen .pgdot-10,
.pgtile-teen .pgdot-11,
.pgtile-teen .pgdot-15,
.pgtile-teen .pgdot-18
{
    background: Firebrick;
    display: block;
}

/* ----------- DAY ----------- */

.pgtile-day .pgdot-2,
.pgtile-day .pgdot-19
{
    background: Firebrick;
    display: block;
}

/* ----------- HIGH-EIGHT ----------- */

.pgtile-high-eight .pgdot-1,
.pgtile-high-eight .pgdot-3,
.pgtile-high-eight .pgdot-7,
.pgtile-high-eight .pgdot-8,
.pgtile-high-eight .pgdot-13,
.pgtile-high-eight .pgdot-14,
.pgtile-high-eight .pgdot-18,
.pgtile-high-eight .pgdot-20
{
    background: Firebrick;
    display: block;
}

/* ----------- HARMONY-FOUR ----------- */

.pgtile-harmony-four .pgdot-2
{
    background: Firebrick;
    display: block;
}

.pgtile-harmony-four .pgdot-11,
.pgtile-harmony-four .pgdot-16,
.pgtile-harmony-four .pgdot-20
{
    background: White;
    display: block;
}

/* ----------- HIGH-TEN ----------- */

.pgtile-high-ten .pgdot-1,
.pgtile-high-ten .pgdot-3,
.pgtile-high-ten .pgdot-5,
.pgtile-high-ten .pgdot-9,
.pgtile-high-ten .pgdot-10,
.pgtile-high-ten .pgdot-11,
.pgtile-high-ten .pgdot-12,
.pgtile-high-ten .pgdot-16,
.pgtile-high-ten .pgdot-18,
.pgtile-high-ten .pgdot-20
{
    background: White;
    display: block;
}

/* ----------- HIGH-SIX ----------- */

.pgtile-long-six .pgdot-1,
.pgtile-long-six .pgdot-5,
.pgtile-long-six .pgdot-10,
.pgtile-long-six .pgdot-11,
.pgtile-long-six .pgdot-16,
.pgtile-long-six .pgdot-20
{
    background: White;
    display: block;
}

/* ----------- LOW-FOUR ----------- */

.pgtile-low-four .pgdot-1,
.pgtile-low-four .pgdot-3,
.pgtile-low-four .pgdot-18,
.pgtile-low-four .pgdot-20
{
    background: White;
    display: block;
}

/* ----------- ELEVEN ----------- */

.pgtile-eleven .pgdot-1,
.pgtile-eleven .pgdot-3,
.pgtile-eleven .pgdot-5,
.pgtile-eleven .pgdot-9,
.pgtile-eleven .pgdot-10,
.pgtile-eleven .pgdot-11,
.pgtile-eleven .pgdot-12,
.pgtile-eleven .pgdot-15,
.pgtile-eleven .pgdot-17,
.pgtile-eleven .pgdot-18,
.pgtile-eleven .pgdot-20
{
    background: White;
    display: block;
}

/* ----------- LOW-TEN ----------- */

.pgtile-ten .pgdot-1,
.pgtile-ten .pgdot-3,
.pgtile-ten .pgdot-7,
.pgtile-ten .pgdot-8
{
    background: Firebrick;
    display: block;
}

.pgtile-ten .pgdot-11,
.pgtile-ten .pgdot-12,
.pgtile-ten .pgdot-15,
.pgtile-ten .pgdot-17,
.pgtile-ten .pgdot-18,
.pgtile-ten .pgdot-20
{
    background: White;
    display: block;
}

/* ----------- SEVEN ----------- */

.pgtile-seven .pgdot-2
{
    background: Firebrick;
    display: block;
}

.pgtile-seven .pgdot-11,
.pgtile-seven .pgdot-12,
.pgtile-seven .pgdot-15,
.pgtile-seven .pgdot-17,
.pgtile-seven .pgdot-18,
.pgtile-seven .pgdot-20
{
    background: White;
    display: block;
}

/* ----------- SIX ----------- */

.pgtile-six .pgdot-2
{
    background: Firebrick;
    display: block;
}

.pgtile-six .pgdot-11,
.pgtile-six .pgdot-12,
.pgtile-six .pgdot-16,
.pgtile-six .pgdot-18,
.pgtile-six .pgdot-20
{
    background: White;
    display: block;
}

/* ----------- MIXED-NINE ----------- */

.pgtile-mixed-nine-1 .pgdot-1,
.pgtile-mixed-nine-1 .pgdot-5,
.pgtile-mixed-nine-1 .pgdot-10,
.pgtile-mixed-nine-1 .pgdot-11,
.pgtile-mixed-nine-1 .pgdot-12,
.pgtile-mixed-nine-1 .pgdot-15,
.pgtile-mixed-nine-1 .pgdot-17,
.pgtile-mixed-nine-1 .pgdot-18,
.pgtile-mixed-nine-1 .pgdot-20
{
    background: White;
    display: block;
}

.pgtile-mixed-nine-2 .pgdot-1,
.pgtile-mixed-nine-2 .pgdot-3,
.pgtile-mixed-nine-2 .pgdot-7,
.pgtile-mixed-nine-2 .pgdot-8
{
    background: Firebrick;
    display: block;
}

.pgtile-mixed-nine-2 .pgdot-11,
.pgtile-mixed-nine-2 .pgdot-12,
.pgtile-mixed-nine-2 .pgdot-16,
.pgtile-mixed-nine-2 .pgdot-18,
.pgtile-mixed-nine-2 .pgdot-20
{
    background: White;
    display: block;
}

/* ----------- MIXED-EIGHT ----------- */

.pgtile-mixed-eight-1 .pgdot-1,
.pgtile-mixed-eight-1 .pgdot-3,
.pgtile-mixed-eight-1 .pgdot-11,
.pgtile-mixed-eight-1 .pgdot-12,
.pgtile-mixed-eight-1 .pgdot-15,
.pgtile-mixed-eight-1 .pgdot-17,
.pgtile-mixed-eight-1 .pgdot-18,
.pgtile-mixed-eight-1 .pgdot-20
{
    background: White;
    display: block;
}

.pgtile-mixed-eight-2 .pgdot-1,
.pgtile-mixed-eight-2 .pgdot-5,
.pgtile-mixed-eight-2 .pgdot-10,
.pgtile-mixed-eight-2 .pgdot-11,
.pgtile-mixed-eight-2 .pgdot-12,
.pgtile-mixed-eight-2 .pgdot-16,
.pgtile-mixed-eight-2 .pgdot-18,
.pgtile-mixed-eight-2 .pgdot-20
{
    background: White;
    display: block;
}

/* ----------- MIXED-SEVEN ----------- */

.pgtile-mixed-seven-1 .pgdot-1,
.pgtile-mixed-seven-1 .pgdot-3,
.pgtile-mixed-seven-1 .pgdot-11,
.pgtile-mixed-seven-1 .pgdot-12,
.pgtile-mixed-seven-1 .pgdot-16,
.pgtile-mixed-seven-1 .pgdot-18,
.pgtile-mixed-seven-1 .pgdot-20
{
    background: White;
    display: block;
}

.pgtile-mixed-seven-2 .pgdot-1,
.pgtile-mixed-seven-2 .pgdot-5,
.pgtile-mixed-seven-2 .pgdot-10
{
    background: White;
    display: block;
}

.pgtile-mixed-seven-2 .pgdot-13,
.pgtile-mixed-seven-2 .pgdot-14,
.pgtile-mixed-seven-2 .pgdot-18,
.pgtile-mixed-seven-2 .pgdot-20
{
    background: Firebrick;
    display: block;
}

/* ----------- MIXED-FIVE ----------- */

.pgtile-mixed-five-1 .pgdot-1,
.pgtile-mixed-five-1 .pgdot-3,
.pgtile-mixed-five-1 .pgdot-11,
.pgtile-mixed-five-1 .pgdot-16,
.pgtile-mixed-five-1 .pgdot-20
{
    background: White;
    display: block;
}

.pgtile-mixed-five-2 .pgdot-2
{
    background: Firebrick;
    display: block;
}

.pgtile-mixed-five-2 .pgdot-13,
.pgtile-mixed-five-2 .pgdot-14,
.pgtile-mixed-five-2 .pgdot-18,
.pgtile-mixed-five-2 .pgdot-20
{
    background: Firebrick;
    display: block;
}

/* ----------- GEE-JOON ----------- */

.pgtile-gee-joon-1 .pgdot-1,
.pgtile-gee-joon-1 .pgdot-3
{
    background: White;
    display: block;
}

.pgtile-gee-joon-1 .pgdot-13,
.pgtile-gee-joon-1 .pgdot-14,
.pgtile-gee-joon-1 .pgdot-18,
.pgtile-gee-joon-1 .pgdot-20
{
    background: Firebrick;
    display: block;
}

.pgtile-gee-joon-2 .pgdot-2
{
    background: Firebrick;
    display: block;
}

.pgtile-gee-joon-2 .pgdot-18,
.pgtile-gee-joon-2 .pgdot-20
{
    background: White;
    display: block;
}

/* ----------- DOTS ----------- */

.pgdot-1 {
    top: 4px;
    left: 6px;
}
.pgdot-2 {
    top: 4px;
    left: 17px;
}
.pgdot-3 {
    top: 4px;
    left: 28px;
}
.pgdot-4 {
    top: 24px;
    left: 6px;
}
.pgdot-5 {
    top: 24px;
    left: 17px;
}
.pgdot-6 {
    top: 24px;
    left: 28px;
}
.pgdot-7 {
    top: 34px;
    left: 6px;
}
.pgdot-8 {
    top: 34px;
    left: 28px;
}
.pgdot-9 {
    top: 44px;
    left: 6px;
}
.pgdot-10 {
    top: 44px;
    left: 28px;
}
.pgdot-11 {
    top: 64px;
    left: 6px;
}
.pgdot-12 {
    top: 64px;
    left: 28px;
}
.pgdot-13 {
    top: 74px;
    left: 6px;
}
.pgdot-14 {
    top: 74px;
    left: 28px;
}
.pgdot-15 {
    top: 84px;
    left: 6px;
}
.pgdot-16 {
    top: 84px;
    left: 17px;
}
.pgdot-17 {
    top: 84px;
    left: 28px;
}
.pgdot-18 {
    top: 104px;
    left: 6px;
}
.pgdot-19 {
    top: 104px;
    left: 17px;
}
.pgdot-20 {
    top: 104px;
    left: 28px;
}
